@model AmericanBlackoutAdmin.Models.MusicEventModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MusicEventModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.MusicEvent.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MusicEvent.Name)
                @Html.ValidationMessageFor(model => model.MusicEvent.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MusicEvent.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MusicEvent.Image)
                @Html.ValidationMessageFor(model => model.MusicEvent.Image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MusicEvent.URL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MusicEvent.URL)
                @Html.ValidationMessageFor(model => model.MusicEvent.URL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MusicEvent.StartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MusicEvent.StartDate)
                @Html.ValidationMessageFor(model => model.MusicEvent.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MusicEvent.DoorTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MusicEvent.DoorTime)
                @Html.ValidationMessageFor(model => model.MusicEvent.DoorTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MusicEvent.EndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MusicEvent.EndDate)
                @Html.ValidationMessageFor(model => model.MusicEvent.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MusicEvent.LocationId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MusicEvent.LocationId)
                @Html.ValidationMessageFor(model => model.MusicEvent.LocationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Offers, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Offers)
                @Html.ValidationMessageFor(model => model.Offers)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Performers, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Performers)
                @Html.ValidationMessageFor(model => model.Performers)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MusicEvent.AgeRange, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MusicEvent.AgeRange)
                @Html.ValidationMessageFor(model => model.MusicEvent.AgeRange)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
