@model AmericanBlackoutAdmin.Models.ShowModel

@{
    ViewBag.Title = "Edit";
}
@Styles.Render("~/Content/jqtoken")

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Show</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Show.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Show.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Show.Date)
                @Html.ValidationMessageFor(model => model.Show.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Show.VenueId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Show.VenueId)
                @Html.ValidationMessageFor(model => model.Show.VenueId)
            </div>
        </div>

        @{
    var id = 0L;
    if (Model.Venue != null)
    {
        id = Model.Venue.Id;
    }
        }
        <div class="hidden" id="venueid">@id</div>

        @{
    var n = "";
    if (Model.Venue != null)
    {
        n = Model.Venue.Name;
    }
        }
        <div class="hidden" id="venuename">
            @n
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Show.BandIds, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Show.BandIds)
                @Html.ValidationMessageFor(model => model.Show.BandIds)
            </div>
        </div>
        <div class="hidden" id="bandlist">
            <ul>
                @foreach (var b in Model.Bands)
                {
                    <li class="band">
                        <ul>
                            <li class="bandid">@b.Id</li>
                            <li class="bandname">@b.Name</li>
                        </ul>
                    </li>
                }
            </ul>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Show.TicketLink, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Show.TicketLink)
                @Html.ValidationMessageFor(model => model.Show.TicketLink)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Show.TicketText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Show.TicketText)
                @Html.ValidationMessageFor(model => model.Show.TicketText)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Show.PosterLink, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Show.PosterLink)
                @Html.ValidationMessageFor(model => model.Show.PosterLink)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-plugins")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Show_BandIds").tokenInput("/Bands/SearchBands/",
                {
                    theme: "facebook"
                });

            $("#Show_VenueId").tokenInput("/Venues/SearchVenues/",
                {
                    theme: "facebook"
                });

            $("#Show_VenueId").tokenInput("add", { id: $("#venueid").text(), name: $("#venuename").text() });

            $.each($(".band"), function (index, value) {
                var id = $(value).find(".bandid").text();
                var n = $(value).find(".bandname").text();
                $("#Show_BandIds").tokenInput("add", { id: id, name: n });
            });

        });
    </script>
}
