@model IEnumerable<AmericanBlackoutAdmin.Models.ShowModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Show.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bands)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Show.TicketLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Show.PosterLink)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Show.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.Name)
            </td>
            <td>
                @{
        var bandstring = "";
        foreach (var b in item.Bands)
        {
            if (b != null)
            {
                bandstring += string.Format("{0}, ", b.Name);
            }
        }
                }
                <span>@bandstring.Trim(new char[] { ',', ' ' })</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show.TicketLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show.PosterLink)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Show.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Show.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Show.Id })
            </td>
        </tr>
    }

</table>
